body  {
    margin: 0;
    padding: 0;
    background-color: #fcfcfc; 
}


.erro {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    text-align: left; 
    padding: 20px;
}

.erro img {
    max-width: 50%; 
    height: auto; 
}

icon-wrapper .p {
    font-size: large; 
    max-width: 50%; 
   
}



    

    .erro {
        flex-direction: column; 
        align-items: center; 
        gap: 10px; 
    }

    .erro img {
        max-width: 70%; 
        height: auto; 
    }

    .erro p {
        font-size: large;
        max-width: 50%;
        text-align: center;
    }
    


